@font-face {
  font-family: "Panton";
  src: url(../font/PantonNarrow-Trial-Light.ttf);
}
html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Panton";
  overflow-x: hidden;
}

.main_title {
  background-image: url("../images/Rectangle 237.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

/*WHITE AND YELLOW CLOUDS */
.cloud_top {
  position: absolute;
  z-index: 2;
  top: -50px;
  left: -230px;
}
.cloud_white {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: -100px;
}
.cloud_bottom {
  position: absolute;
  z-index: 3;
  top: 700px;
  left: -310px;
}

@media (max-width: 1000px) {
  .cloud_top {
    width: 180px;
    height: 30px;
    top: -50px;
    left: 100px;
  }
  .cloud_white {
    width: 350px;
    height: 100px;
  }
  .cloud_bottom {
    width: 90px;
    height: 50px;
  }
}
/*WHITE AND YELLOW CLOUDS */
.column {
  width: 100%;
}

.row {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .row {
    max-width: 800px;
  }
}
h2 {
  text-align: center;
  font-size: 60px;
  color: #3C4852;
  font-weight: 700;
  margin: 0px;
}

@media (max-width: 650px) {
  h2 {
    font-size: 50px;
  }
}
span {
  font-weight: 800;
  color: #FFCC80;
}

/* Mobile version */
.mobile_header {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-between;
}
.mobile_header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_text {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: #3C4852;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.mobile_text1 {
  font-size: 65px;
  font-weight: 700;
}
.mobile_text2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.mobile_text_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.mobile_text_buttons_left {
  background: #FFCC80;
  width: 260px;
  height: 86px;
  border-radius: 10px;
  border: #FFCC80;
  color: #3C4852;
  font-weight: 800;
}
.mobile_text_buttons_right {
  width: 260px;
  height: 86px;
  background: white;
  border: 1px #FFCC80 solid;
  border-radius: 10px;
  color: #3C4852;
  font-weight: 800;
}

.menu-button {
  border: 0;
  background: transparent;
  padding: 0;
}

/* Mobile version */
/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 375px;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  transition: margin-right 300ms ease;
  margin-right: 0;
  opacity: 1;
  z-index: 5;
}

.mobile-menu.hidden {
  /* display: none; */
  margin-right: -375px;
  opacity: 0;
}

.mobile-menu .main-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.menu-rightside {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.menu_close_button {
  border: 0;
  background: transparent;
  padding: 0;
  margin-left: 50px;
  margin-top: 10px;
}

/* Mobile menu */
.main_header {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-between;
}
.main_header_left {
  position: relative;
}
.main_header_left_image {
  z-index: 3;
  position: relative;
}
.main_header_right {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.main_header_right_item {
  font-size: 18px;
  line-height: 21.6px;
  color: #3C4852;
  text-decoration: none;
  height: 35px;
}
.main_header_right_support {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.main_header_right_support a {
  text-decoration: none;
  color: #3C4852;
  font-weight: 700;
}
.main_header_right_button {
  background: #FFCC80;
  width: 147px;
  height: 58px;
  border-radius: 10px;
  border: #FFCC80;
  font-weight: 700;
}
.main_header_right_button::after {
  content: "";
  background-image: url("../images/login_logo.svg");
  background-size: 21px 21px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 30px;
}

@media (max-width: 1000px) {
  .main_title {
    display: none;
  }
}
@media (min-width: 1000px) {
  .main_title_mobile {
    display: none;
  }
}
.main_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  color: #3C4852;
}
.main_text_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px;
  padding-left: 150px;
}
.main_text_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.main_text_left1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 115px;
}
.main_text_left2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
}
.main_text_left2::after {
  content: "";
  background-image: url("../images/smile.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 50px;
}
.main_text_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
  gap: 23px;
}
.main_text_buttons_left {
  background: #FFCC80;
  width: 260px;
  height: 86px;
  border-radius: 10px;
  border: #FFCC80;
  color: #3C4852;
  font-weight: 800;
}
.main_text_buttons_right {
  width: 230px;
  height: 86px;
  background: white;
  border: 1px #FFCC80 solid;
  border-radius: 10px;
  color: #3C4852;
  font-weight: 800;
}

.service_benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 100px;
}
.service_benefits_block {
  display: flex;
  flex-direction: row;
  gap: 130px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.benefit_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #3C4852;
  text-align: center;
  margin-top: 20px;
}

.yellow_line {
  margin-bottom: 30px;
}

.stages_of_work_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 180px;
  grid-row-gap: 50px;
  justify-content: center;
  justify-items: center;
}
.work_text {
  font-weight: 800;
  font-size: 20px;
  color: #3C4852;
  text-align: center;
  margin-top: 27px;
}
.work_text2 {
  max-width: 250px;
}
.work_text3 {
  max-width: 300px;
}
.work_4 {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_glass {
  margin-left: 19px;
}

@media (max-width: 600px) {
  .work {
    grid-template-columns: repeat(auto-fill, minmax(209px, 1fr));
  }
  .work_block {
    scale: 0.8;
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .work {
    grid-template-columns: repeat(2, minmax(209px, 1fr));
  }
  .work_block {
    scale: 0.9;
  }
}
.notebook {
  position: relative;
  width: 247px;
  height: 247px;
}
.notebook img {
  position: absolute;
}
.notebook_9 {
  top: -64px;
  right: 21px;
}
.notebook_ellipse {
  z-index: -1;
}

.background_box {
  margin-top: 200px;
  background-image: url("../images/economy_vector1.png"), url("../images/economy_vector2.png"), url("../images/subtract.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100px 200px, 140px 200px, 100% 580px;
  background-position: top left, bottom right;
  padding: 70px 0px 50px 0px;
}

.time_saving {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.time_saving_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.time_saving_text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  max-width: 650px;
}
.time_saving h2 {
  text-align: left;
}
.time_saving_image {
  margin-left: 120px;
}

@media (max-width: 1000px) {
  .time_saving_image {
    display: none;
  }
}
.refund {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
.refund_box {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.refund_box_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.refund_box_title {
  color: #3C4852;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}
.refund_box_text {
  color: #3C4852;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 500px;
}

.background_bottom {
  background-image: url("../images/Vector 61.png"), url("../images/subtract_footer.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, center bottom;
  background-size: 50px 215px, auto auto;
}

.footer {
  padding-top: 250px;
  padding-bottom: 30px;
}
.footer_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 19px;
  color: #FFFFFF;
}
.footer_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_box_payments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.footer_box_payments_visamaster {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #99a2a9;
  border-radius: 14px;
  width: 84px;
  height: 60px;
}
.footer_box_payments_yandex_money {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #99a2a9;
  border-radius: 14px;
  width: 110px;
  height: 60px;
}
.footer_box_payments_web_money {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #99a2a9;
  border-radius: 14px;
  width: 125px;
  height: 60px;
}
.footer_box_rights {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  color: #99a2a9;
}
.footer_box_support {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.footer_box_support_image {
  margin: 10px;
}
.footer_box_support_link {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer_box_order {
  background: #FFCC80;
  width: 220px;
  height: 58px;
  border-radius: 10px;
  border: #FFCC80;
  color: #3C4852;
  font-weight: 700;
  letter-spacing: 0.7px;
}

@media (max-width: 1050px) {
  .footer_box_rights, .footer_box_support,
  .footer_box_order {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer_box_rights, .footer_box_order,
  .footer_box_support {
    display: none;
  }
  .footer_box {
    justify-content: center;
    margin-left: 35px;
  }
  .footer_box_payments {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    margin-right: 40px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #99a2a9;
    border-radius: 14px;
    width: 90px;
    height: 60px;
    scale: 0.9;
  }
  .footer_image {
    scale: 0.9;
  }
}
/* LOGIN TITLE*/
.login_page {
  background-color: #3C4852;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8E8D8D;
}

.login {
  margin-top: 200px;
  width: 450px;
  height: 593px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 20px 100px 0px rgba(18, 24, 32, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_logo {
  position: relative;
}
.login_logo_cross {
  position: absolute;
  right: -120px;
  top: -30px;
}
.login_user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 306px;
  height: 54px;
  margin-top: 37px;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  color: 16px;
  font-weight: 400;
}
.login_user_text {
  outline: none;
  border: none;
}
.login_password {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 306px;
  height: 54px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  color: 16px;
  font-weight: 400;
}
.login_buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-top: 34px;
}
.login_buttons_left {
  width: 128px;
  height: 60px;
  border-radius: 10px;
  background: #FFCC80;
  border: 0px;
  color: #3C4852;
  font-size: 14px;
  font-weight: 800;
}
.login_buttons_right {
  width: 164px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #FFCC80;
  color: #3C4852;
  font-size: 14px;
  font-weight: 800;
  background-color: white;
}
.login_another {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
}
.login_another_line {
  margin-bottom: 5px;
}
.login_links {
  margin-top: 37px;
}

/*# sourceMappingURL=styles.css.map */
